body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/141/875/original/pexels-enginakyurt-1435895.jpg?1725286508);
  background-repeat: repeat-y;
  background-size: cover;
}

h1 {
  font-size: 30px;
  color: #2d8780;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px 0px;
  text-align: center;
}
h2 {
  font-size: 23px;
  margin: 5px 0px;
}

a {
  text-decoration: none;
  color: #87fff5;
  font-weight: bold;
}
form {
  display: block;
  text-align: center;
  margin: 5px 0px;
}
.footer {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgb(255, 251, 175);
  border-radius: 10px;
  text-align: center;
}
.container {
  max-width: 60%;
  background: rgba(255, 251, 175, 0.93);
  margin: 60px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(107, 107, 121, 0.2) 0px 7px 29px 0px;
}
.inputbar {
  width: 40%;
  padding: 10px;
  line-height: 20px;
  font-size: 15px;
  border-radius: 15px;
  margin: 10px;
  border: 3px solid #ff5656;
}
.submitButton {
  padding: 10px;
  border-radius: 15px;
  line-height: 20px;
  font-size: 15px;
  margin: 10px 0px;
  background-color: #ff5656;
  border: 1px solid #ff5656;
  color: #fff;
}
.recipe {
  text-align: left;
  padding: 20px;
  color: #236a64;
  font-size: 15px;
}
